<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Page - John Caldwell</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/custom-navbar.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark portfolio-navbar">
        <div class="container-fluid"><a class="navbar-brand logo" href="/">John Caldwell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/projects-grid">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/resume">Resume</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading" style="margin-bottom: 60px;">
                    <h2>custom smart light switch</h2>
                </div>
                <div class="text-center image" style="height: 400px;"><img src="static/assets/img/Light%20Switch.jpg" style="width: 600px;"></div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 offset-md-1 info" style="margin-left: 0px;">
                        <h3>Description</h3>
                        <p>Created smart light switch using an Arduino UNO with an IR sensor and <br>servo and a Raspberry Pi with an IR transmitter to "manually" turn the <br>light switch on and off. The internet connected Raspberry Pi allowed for<br> remote
                            control over the internet. The light switch was also able to be <br>controlled via mobile device through SSH commands. This system was later upgraded to an off the shelf Wi-Fi light switch flashed with custom <br>firmware to
                            integrate with Home Assistant. <br></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="d-flex d-xl-flex align-items-stretch justify-content-xl-center page-footer" style="background-color: #343a40;">
        <div class="container">
            <div class="social-icons"><a href="https://www.facebook.com/jpcaldwell30" target="_blank" style="background-color: #232323;color: #ffffff;"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/_jpcaldwell/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-instagram-outline"></i></a>
                <a
                    href="https://www.linkedin.com/in/jpcaldwell30/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-linkedin-outline" style="filter: brightness(100%);color: rgb(255,255,255);"></i></a>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>