<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - John Caldwell</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/custom-navbar.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark portfolio-navbar">
        <div class="container-fluid"><a class="navbar-brand logo" href="/">John Caldwell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/projects-grid">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/resume">Resume</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page lanidng-page" style="padding-top: 85px;">
        <section class="border rounded-0 portfolio-block block-intro" style="padding-top: 50px;height: 510px;">
            <div class="border rounded-circle avatar" style="background-image: url(&quot;static/assets/img/avatars/avatar.png&quot;);background-position: 40% 50%;width: 250px;height: 250px;"></div>
            <div class="container">
                <div class="about-me">
                    <p>John Caldwell<br>IT and Information Security Analyst with an interest in automation and IoT<br></p>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography" style="padding-top: 50px;">
            <div class="container">
                <h2 class="text-center" style="margin-bottom: 80px;"><strong>PROJECTS</strong></h2>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover" style="background-color: rgb(255,255,255);">
                        <h1 class="text-center" style="padding-bottom: 30px;font-size: 24px;"><strong>ContactX</strong></h1><a href="/contactx-project"><img class="img-fluid image" src="static/assets/img/ContactX%20Icon.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 col-xl-4 item zoom-on-hover" style="background-color: rgb(255,255,255);">
                        <h1 class="text-center" style="padding-bottom: 30px;font-size: 24px;"><strong>Home Automation</strong></h1><a href="/home-automation-project"><img class="img-fluid image" src="static/assets/img/Home%20Assistant.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 text-center item zoom-on-hover" style="background-color: rgb(255,255,255);">
                        <h1 style="padding-bottom: 30px;font-size: 24px;"><strong>Website</strong></h1><a href="/personal-website-project"><img class="img-fluid image" src="static/assets/img/New%20Web%20Dev%20Website%20Image.jpg"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>View more projects</h3><a class="btn btn-outline-primary btn-lg" role="button" href="/projects-grid" style="width: 100px;"><i class="fa fa-arrow-right"></i></a></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Top Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline" style="background-color: #0069c0;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Technical Support</h3>
                                <p class="card-text">Held two previous technical support positions at organizations with over 450 employees</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline" style="background-color: #0069c0;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Java</h3>
                                <p class="card-text">Developed and published an Android application written in Java</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline" style="background-color: #0069c0;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Automation</h3>
                                <p class="card-text">Configured custom home automation system using python and shell scripts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Interested in learning more?</h3><a class="btn btn-outline-primary btn-lg" role="button" href="/resume">View Resume</a></div>
            </div>
        </section>
    </main>
    <footer class="d-flex d-xl-flex align-items-stretch justify-content-xl-center page-footer" style="background-color: #343a40;">
        <div class="container">
            <div class="social-icons"><a href="https://www.facebook.com/jpcaldwell30" target="_blank" style="background-color: #232323;color: #ffffff;"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/_jpcaldwell/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-instagram-outline"></i></a>
                <a
                    href="https://www.linkedin.com/in/jpcaldwell30/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-linkedin-outline" style="filter: brightness(100%);color: rgb(255,255,255);"></i></a>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>