<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - John Caldwell</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/custom-navbar.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark portfolio-navbar">
        <div class="container-fluid"><a class="navbar-brand logo" href="/">John Caldwell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/projects-grid">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/resume">Resume</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>notable Projects</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/contactx-project"><img class="card-img-top scale-on-hover" src="static/assets/img/ContactX%20Icon.jpg" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">ContactX</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/home-automation-project"><img class="card-img-top scale-on-hover" src="static/assets/img/Home%20Assistant.jpg" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Home Automation</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/personal-website-project"><img class="card-img-top scale-on-hover" src="static/assets/img/New%20Web%20Dev%20Website%20Image.jpg" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Personal Website</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/cloudmyip-project"><img class="card-img-top scale-on-hover" src="static/assets/img/Cloud%20My%20IP.jpg" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Cloud My IP</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/custom-smart-light-switch-project"><img class="card-img-top scale-on-hover" src="static/assets/img/Light%20Switch.jpg" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">Custom Smart Light Switch</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="/diy-smart-thermostat-project"><img class="card-img-top scale-on-hover" src="static/assets/img/Thermostat.jpg" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="#">DIY Smart Thermostat</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="d-flex d-xl-flex align-items-stretch justify-content-xl-center page-footer" style="background-color: #343a40;">
        <div class="container">
            <div class="social-icons"><a href="https://www.facebook.com/jpcaldwell30" target="_blank" style="background-color: #232323;color: #ffffff;"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/_jpcaldwell/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-instagram-outline"></i></a>
                <a
                    href="https://www.linkedin.com/in/jpcaldwell30/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-linkedin-outline" style="filter: brightness(100%);color: rgb(255,255,255);"></i></a>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>