<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CV - John Caldwell</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/custom-navbar.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark portfolio-navbar">
        <div class="container-fluid"><a class="navbar-brand logo" href="/">John Caldwell</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/projects-grid">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/resume">Resume</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <main class="page cv-page">
        <section class="portfolio-block block-intro border-bottom" style="height: 180px;padding-top: 10px;">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;static/assets/img/avatars/avatar.png&quot;);background-position: 40% 50%;background-size: cover;"></div>
            </div>
        </section>
        <section class="text-center portfolio-block cv" style="padding-top: 25px;"><img class="img-fluid" src="static/assets/img/resume.jpg" width="1110px" style="margin-bottom: -75px;"></section>
        <section class="portfolio-block call-to-action border-bottom" style="margin-top: -45px;"></section>
    </main>
    <footer class="page-footer" style="background-color: #343a40;">
        <div class="container">
            <div class="social-icons"><a href="https://www.facebook.com/jpcaldwell30" target="_blank" style="background-color: #232323;color: #ffffff;"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/_jpcaldwell/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-instagram-outline"></i></a>
                <a
                    href="https://www.linkedin.com/in/jpcaldwell30/" target="_blank" style="background-color: #232323;"><i class="icon ion-social-linkedin-outline" style="filter: brightness(100%);color: rgb(255,255,255);"></i></a>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>